body{
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 8px;
    background-color: dimgray;
    margin: 0px;
}
header{
    background-color: white;
    border-radius: 8px;
    padding: 10px;
    margin: 10px;

}

nav{
    background-color: rgb(102, 102, 102);
    border-radius: 8px;
    box-shadow: 1px 4px 4px 1px rgba(0, 0, 0, 0.678);
    padding: 3px;
     
}

nav >a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    margin-right: 30px;

}


main{

    background-color: white;
    border-radius: 8px;
    padding: 10px;
    margin: 10px;

}

article{
    background-color: lightgray;
    border-radius: 8px;
    padding: 5px;
    
}
article >aside {
    background-color: rgb(165, 165, 165);
    border-radius: 8px;

}
 

footer{

    background-color: black;
    border-radius: 8px;
    color: white;
    text-align: center;
    padding: 4px;
    margin: 0px;

}
footer> p{
    margin: 0px;
}